@use "variables" as *;
.hero {
    // height: 100vh;
    overflow-y: auto;
    position: relative;
    @media (min-width: 1200px) {
        height: 100vh;
    }

    // .hero__background

    &__background {
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        &::after {
            content: "";
            position: absolute;
            inset-inline-start: 0;
            inset-block-start: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, rgba(48, 14, 90, 0.08) 46.444%, rgba(0, 0, 0, 1) 100%);
        }
    }

    // .hero__background-image

    &__background-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        // object-position: top;
    }
    // .hero__container

    &__container {
        min-height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding-block-start: 130px;
        padding-block-end: 100px;
        @media (min-width: 1200px) {
            padding-block-start: 22.67vh;
            padding-block-end: 120px;
        }
    }
    // .hero__content

    &__content {
        text-align: center;
        max-width: 872px;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }

    // .hero__title

    &__title {
        font-weight: 600;
        font-size: clamp(32px, 6.67vw, 96px);
        text-wrap: balance;
        & span {
            font-weight: 300;
        }
    }

    // .hero__text

    &__text {
        max-width: 716px;

        line-height: 1.5;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.8);
        text-align: center;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        @media (min-width: 768px) {
            font-size: 18px;
        }
    }
}
.clients {
    // .clients__list
    padding-block: 10px;
    @media (min-width: 992px) {
        padding-block: 32px;
    }
    // .clients__list
    @keyframes running-line {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc(-50%));
        }
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 30px;
        width: min-content;
        will-change: transform;
        animation: running-line linear forwards infinite;

        @media (min-width: 992px) {
            column-gap: 85px;
            padding-block: 4px;
        }
        @media (any-hover: hover) {
            &:hover {
                animation-play-state: paused;
            }
        }
    }

    // .clients__item

    &__item {
        display: flex;
        align-items: center;
    }
    &__image {
        height: 24px;
        object-fit: contain;
    }
}
.services {
    // .services__container

    &__container {
        padding-block: 50px;
        display: flex;
        gap: 40px;

        @media (max-width: $tablet) {
            flex-wrap: wrap;
            row-gap: 20px;
        }
        @media (min-width: 1200px) {
            padding-block: 80px;
        }
    }

    // .services__title

    &__title {
        flex-grow: 1;
        &::before {
            mask-image: url("/src/img/icons/lightning.svg");
        }
        @media (min-width: 992px) {
            max-width: 411px;
        }
    }

    // .services__list

    &__list {
        flex-grow: 1;
        counter-reset: service-counter;
        & > *:not(:last-child) {
            margin-bottom: 20px;
        }

        @media (min-width: 992px) {
            & > *:not(:last-child) {
                margin-bottom: 40px;
            }
            position: relative;
            &::after {
                content: "";
                width: 41.5%;
                aspect-ratio: 1 / 1;
                position: absolute;
                z-index: -1;
                inset-inline-end: 10.97vw;
                inset-block-start: -68px;
                transform: rotate(10deg);
                background: url("/src/img/services/bg-decor-rectangle.png") center/contain no-repeat;
            }
        }
    }

    // .services__item

    &__item {
        padding-block: 16px;
        display: flex;
        column-gap: 28px;
        align-items: center;
        border-bottom: 1.5px solid rgba(255, 255, 255, 0.32);
        &::before {
            flex-shrink: 0;
            counter-increment: service-counter;
            content: "(" counter(service-counter, decimal-leading-zero) ")";
            font-size: 12px;
            line-height: 1.33;
            letter-spacing: 0.04em;
            color: $text-64;
        }
        @media (max-width: $tablet) {
            column-gap: 15px;
        }
    }

    // .services__link

    &__link {
        flex-grow: 1;
        font-weight: 600;
        font-size: 60px;
        font-size: clamp(26px, 4.16vw, 60px);
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: inherit;
        &::after {
            content: "";
            width: 0.67em;
            height: 0.67em;
            background: $text;
            mask: url("/src/img/icons/arrow.svg") center/contain no-repeat;
            transition: background 0.3s ease;
            margin-left: auto;
            flex-shrink: 0;
        }
        @media (any-hover: hover) {
            &:hover::after {
                background: linear-gradient(rgba(135, 41, 255, 1), rgba(81, 25, 153, 1));
            }
        }
    }
}
.section-title {
    font-weight: 500;
    font-size: 28px;
    display: flex;
    column-gap: 16px;
    &::before {
        content: "";
        width: 1em;
        height: 1em;
        background-color: currentColor;
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        align-self: baseline;
    }
    @media (min-width: 992px) {
        font-size: 32px;
    }
}

.works {
    padding-block: 50px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        inset-inline-end: 0;
        inset-block-start: -187px;
        width: 150.83vw;
        aspect-ratio: 2172/ 2858;
        transform: translateX(25.42vw);
        background: url("/src/img/bg-decor.svg") center/contain no-repeat;
        filter: blur(200px);
    }
    @media (min-width: 1200px) {
        padding-block: 80px;
    }

    // .works__header

    &__header {
        & > *:not(:last-child) {
            margin-bottom: 16px;
        }
        @media (min-width: 992px) {
            max-width: 411px;
        }
    }

    // .works__title

    &__title {
        &::before {
            mask-image: url("/src/img/icons/work-history.svg");
        }
    }

    // .works__text

    &__text {
        line-height: 1.5;
        color: $text-64;
    }
    &__slider-container {
        @media (max-width: 1440px) {
            max-width: 1300px; //1280px
            padding-inline: 10px;
            margin: 0 auto;
        }
    }
    // .works__slider

    &__slider {
        &.swiper {
            padding-block: 35px;
            overflow: visible;
            @media (min-width: 1200px) {
                padding-block: 64px;
            }
        }
        & .swiper-slide {
            @media (min-width: 1440px) {
                width: 390px;
            }
        }
    }

    // .works__actions

    &__actions {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
        max-width: 320px;
        margin: 0 auto;
    }

    // .works__actions-text

    &__actions-text {
        font-weight: 700;
        font-size: 24px;
        text-align: center;
    }
}

.work-card {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    // .work-card__image-link

    &__image-link {
        width: 100%;
        aspect-ratio: 390 / 392;
        border-radius: 24px;
        overflow: hidden;
        position: relative;
        &::before {
            content: "View";
            position: absolute;
            inset-inline-start: 50%;
            inset-block-start: 50%;
            transform: translate(-50%, -50%) rotateX(90deg);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            border-radius: 50%;
            width: 5em;
            aspect-ratio: 1 / 1;
            font-size: 0.875em;
            backdrop-filter: blur(12px);
            background: linear-gradient(219deg, #8729ff 0%, #511999 100%);
            opacity: 0;
            transition:
                transform 0.4s ease-in-out,
                opacity 0.5s ease-in-out;
        }

        @media (any-hover: hover) {
            &:hover::before {
                transform: translate(-50%, -50%) rotateX(0);
                opacity: 1;
            }
        }
    }

    // .work-card__image

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .work-card__header

    &__header {
        flex-grow: 1;
        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    // .work-card__category

    &__category {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
        color: $text-64;
        text-decoration: underline;
        text-underline-offset: 2px;
        text-decoration-color: transparent;
        transition:
            color 0.3s,
            text-underline-offset 0.3s,
            text-decoration-color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $text;
                text-decoration-color: currentColor;
                text-underline-offset: 4px;
            }
        }
    }
    // .work-card__title-link

    &__title-link {
        font-weight: 500;
        font-size: clamp(18px, 2.22vw, 32px);
        transition: color 0.3s;
        @media (any-hover: hover) {
            &:hover {
                color: $accent;
            }
        }
    }
}

.pricing {
    padding-block: 50px;
    @media (min-width: 1200px) {
        padding-block: 80px;
    }

    // .pricing__title

    &__title {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        &::before {
            mask-image: url("/src/img/icons/hot-price.svg");
        }
        @media (min-width: 1200px) {
            &:not(:last-child) {
                margin-bottom: 64px;
            }
        }
    }

    // .pricing__options

    &__options {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        gap: 24px;
        @media (max-width: $tablet) {
            gap: 10px;
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
        & .pricing-card {
            flex-grow: 1;
        }
    }
}

.pricing-card {
    border: 2px solid rgba(255, 255, 255, 0.16);
    border-radius: 24px;
    padding: 8px;
    transition: border-color 0.3s;

    // .pricing-card__basic-info

    &__basic-info {
        padding-inline: 24px;
        padding-block: 24px;
        border-radius: 16px;
        background-color: rgba(135, 41, 255, 0.24);
        position: relative;
        & > *:not(:last-child) {
            margin-bottom: 24px;
        }
        &:has(.pricing-card__label) {
            background: linear-gradient(219deg, #8729ff 0%, #511999 100%);
        }
    }
    @media (any-hover: hover) {
        &:hover {
            border-color: $accent;
        }
    }

    // .pricing-card__title

    &__title {
        font-weight: 700;
        font-size: 24px;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
    }

    // .pricing-card__description

    &__description {
        line-height: 1.5;
    }

    // .pricing-card__price

    &__price {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 4px;
    }

    // .pricing-card__price-numbers

    &__price-numbers {
        font-weight: 600;
        font-size: 48px;
    }

    // .pricing-card__billing-interval

    &__billing-interval {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.6;
    }
    &__button {
        width: 100%;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.43;
    }

    // .pricing-card__label

    &__label {
        position: absolute;
        inset-inline-end: 24px;
        inset-block-start: 24px;
        padding-inline: 8px;
        padding-block: 2px;
        border-radius: 999px;
        background: $text;
        color: #8729ff;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.04em;
    }

    // .pricing-card__details

    &__details {
        padding-inline: 16px;
        padding-block: 16px;
    }
}

.price-details {
    // .price-details__list

    &__list {
        line-height: 1.5;
        color: $text-64;
        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    // .price-details__item

    &__item {
        display: flex;
        align-items: center;
        column-gap: 8px;
        &::before {
            flex-shrink: 0;
            content: "";
            width: 1em;
            height: 1em;
            background-color: currentColor;
            mask: url("/src/img/icons/star.svg") center/contain no-repeat;
        }
    }
}

.testimonials {
    // .testimonials__container
    padding-block: 50px;

    @media (min-width: 1200px) {
        padding-block: 80px;
    }

    &__container {
        &:not(:last-child) {
            margin-bottom: 35px;
        }
        @media (min-width: 1200px) {
            &:not(:last-child) {
                margin-bottom: 64px;
            }
        }
    }

    // .testimonials__title

    &__title {
        &::before {
            mask-image: url("/src/img/icons/star.svg");
        }
    }

    // .testimonials__slider

    &__slider.swiper {
        & .swiper-wrapper {
        }
        & .swiper-slide {
            width: 280px;
            display: flex;
            flex-direction: column;
            height: auto;
            & > * {
                height: 100%;
            }

            @media (min-width: 768px) {
                width: 324px;
            }
        }
    }
}

.testimonial {
    // aspect-ratio: 324 / 269;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding-inline: 16px;
    padding-block: 16px;
    border-radius: 16px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.08);
    background-color: rgba(135, 41, 255, 0.24);
    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset-inline-start: 0;
        inset-block-start: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        background: linear-gradient(219deg, #8729ff 0%, #511999 100%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    @media (any-hover: hover) {
        &:hover {
            &::before {
                opacity: 1;
            }
        }
    }
    @media (min-width: 768px) {
        padding-inline: 24px;
        padding-block: 24px;
    }
    // .testimonial__rate
    &__rate {
    }

    // .testimonial__rate-icon

    &__rate-icon {
        width: 1.3125em;
        height: 1.3125em;
        display: inline-block;
        background-color: $text-64;
        mask: url("/src/img/icons/rate-star.svg") center/contain no-repeat;
    }
    &__rate-icon--rated {
        background-color: #ffdb7d;
    }

    // .testimonial__body

    &__body {
        flex-grow: 1;
        & > *:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    // .testimonial__title

    &__title {
        font-weight: 500;
        font-size: 18px;
        @media (min-width: 768px) {
            font-size: 20px;
        }
    }

    // .testimonial__text

    &__text {
        line-height: 1.5;
    }

    // .testimonial__author

    &__author {
        display: flex;
        gap: 12px;
    }

    // .testimonial__author-avatar

    &__author-avatar {
        width: 3em;
        height: 3em;
        border-radius: 50%;
        overflow: hidden;
    }

    // .testimonial__image

    &__image {
        width: 100%;
        object-fit: contain;
    }

    // .testimonial__author-details

    &__author-details {
        & > *:not(:last-child) {
            margin-bottom: 4px;
        }
    }

    // .testimonial__author-name

    &__author-name {
        font-weight: 500;
        line-height: 1.5;
    }

    // .testimonial__author-position

    &__author-position {
        font-size: 14px;
        color: $text-64;
    }
}
